# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
*.env

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
.streamlit/credentials.toml

# Jupyter/VSCode
.ipynb_checkpoints/
.vscode/
